{% extends 'base.html' %}

{% block content %}
<h1>Welcome to Twitterlytic.</h1>

  {% if request.user.is_authenticated %}
  <p>
    Hi {{ user.username }}!
  </p>
  <p>
  <a class="btn btn-primary btn-lg"
    href="{% url 'profile' user.twitterprofile.username %}">
    Your profile analysis</a>
  </p>

  <p>
  <form action="/logout/" method="post">
      {% csrf_token %}
      <input type="submit" class="btn btn-danger btn-sm" value="Log out" />
  </form>
  </p>
  {% else %}
  <p>
    <b>Connect to analyze your profile and others!</b>
  </p>
  <p>
    If you connect, you'll automatically trigger an analysis of your
    own Twitter account. You'll also have the option to trigger analyses
    for any Twitter accounts already known to Twitterlytic (i.e. any profile
    following or followed by any profile analyzed to date).
  </p>
  <a class="btn btn-primary btn-lg" href="{{ twitter_auth_url }}">
    Connect Twitter</a>
{% endif %}
{% endblock content %}
