{% extends 'base.html' %}
{% load static %}

{% block extra_js %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{% static 'js/piechart.js' %}"></script>
<script src="{% static 'js/profile-tables.js' %}"></script>
{% endblock extra_js %}

{% block content %}
<h1>
  <span id='twitter-name'>{{object.show_data.name}}</span>
  (<a href="https://twitter.com/{{ object.show_data.screen_name }}">@<span id='twitter-username'>{{object.show_data.screen_name}}</span></a>)
</h1>

  {% if request.user.is_authenticated %}
  <form action="{% url 'profile' object.show_data.screen_name %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Analyze/Refresh" />
  </form>
  {% endif %}

  <p>
    {{ object.show_data.description }}
  </p>

  <p>
    <b>Inferred gender:</b> {{ object.get_gender_display }}
  </p>
  <p>
    <b>Follower count:</b> {{ object.show_data.followers_count }}<br>
    <b>Follower ratio (male:female):</b> {{ followers_ratio|floatformat:2 }}
  </p>
  <p>
    <b>Following count:</b> {{ object.show_data.friends_count }}<br>
    <b>Following ratio (male:female):</b> {{ following_ratio|floatformat:2 }}
  </p>

  {% if object.show_data.followers_count > max_display or object.show_data.friends_count > max_display %}
  <p>
    <i><b>Note:</b> For lists with more than {{ max_display }} profiles, a random
      subset of {{ max_display }} profiles is selected for analysis and display.</i>
  </p>
  {% endif %}
  <div class="row" style="margin-bottom:30px;">
    <div class="col-md-6">
      <h2>Following</h2>
      <div id="chart-following"></div>
    </div>
    <div class="col-md-6">
      <h2>Followers</h2>
      <div id="chart-followers"></div>
    </div>
  </div>

  <h2>Following list</h2>

  <div style="width:100%; overflow:auto;">
    <table id="profile-table-following" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Username</th>
          <th>Name</th>
          <th>Follower ratio</th>
          <th>Following ratio</th>
          <th>Inf. gender</th>
          <th># Followers</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Username</th>
          <th>Name</th>
          <th>Follower ratio</th>
          <th>Following ratio</th>
          <th>Inf. gender</th>
          <th># Followers</th>
        </tr>
      </tfoot>
    </table>
  </div>

  <h2>Followers list</h2>
  <div style="width:100%; overflow:auto;">
    <table id="profile-table-followers" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Username</th>
          <th>Name</th>
          <th>Follower ratio</th>
          <th>Following ratio</th>
          <th>Inf. gender</th>
          <th># Followers</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Username</th>
          <th>Name</th>
          <th>Follower ratio</th>
          <th>Following ratio</th>
          <th>Inf. gender</th>
          <th># Followers</th>
        </tr>
      </tfoot>
    </table>
  </div>
{% endblock content %}
