{% extends 'base.html' %}
{% load static %}

{% block extra_js %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{% static 'js/piechart.js' %}"></script>
{% endblock extra_js %}

{% block content %}
<h1>
  <span id='twitter-name'>{{object.show_data.name}}</span>
  (@<span id='twitter-username'>{{object.show_data.screen_name}}</span>)
</h1>

  {% if request.user.is_authenticated %}
  <form action="{% url 'profile' object.show_data.screen_name %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Analyze/Refresh" />
  </form>
  {% endif %}

  <p>
    {{ object.show_data.description }}
  </p>

  <p>
    <b>Inferred gender:</b> {{ object.gender }}
  </p>

  <h2>Followers</h2>
  <div class="row">
    <div class="col-md-6">
      <div style="width:100%;overflow:auto; max-height:300px;">
        <table>
          {% for follower in followers %}
          <tr>
            <td><a href="{% url 'profile' follower.follower.show_data.screen_name %}">{{follower.follower.show_data.screen_name}}</a></td>
            <td>{{follower.follower.show_data.followers_count}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div id="chart-followers"></div>
    </div>
  </div>

  <h2>Following</h2>
  <div class="row">
    <div class="col-md-6">
      <div style="width:100%;overflow:auto; max-height:300px;">
        <table>
          {% for followed in following %}
          <tr>
            <td><a href="{% url 'profile' followed.followed.show_data.screen_name %}">{{followed.followed.show_data.screen_name}}</a></td>
            <td>{{followed.followed.show_data.followers_count}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div id="chart-following"></div>
    </div>
  </div>

{% endblock content %}
