# Fill this in with something unique and random.
SECRET_KEY=''

# Get these from the Twitter API app you create.
TWITTER_CONSUMER_TOKEN=''
TWITTER_CONSUMER_SECRET=''

# The PostgreSQL database URL, e.g. for local development
# with a database 'mydb', user 'jdoe', password 'pa55wd':
# DATABASE_URL='postgres://jdoe:pa55wd@localhost/mydb'
DATABASE_URL=''
