body {
  /* Padding to avoid navbar. */
  padding-top: 5rem;

  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


#chart-followers {
  height: 360px;
  position: relative;
  width: 360px;
}
#chart-following {
  height: 360px;
  position: relative;
  width: 360px;
}
.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
  opacity: 100;
}
.legend {
  font-size: 12px;
}
rect {
  cursor: pointer;
  stroke-width: 2;
}
rect.disabled {
  fill: transparent !important;
}
